* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(#ffc6ff, #b7e4c7);
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.area-carregador {
  position: absolute;
  top: -35px;
  transform: scale(1.5);
}
.carregador {
  height: 25px;
  width: 1px;
  position: absolute;
  animation: rotate 3.5s linear infinite;
}
.carregador .ponto {
  top: 30px;
  height: 7px;
  width: 7px;
  background: black;
  border-radius: 50%;
  position: relative;
}
.texto {
  position: absolute;
  bottom: -85px;
  font-size: 25px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: black;
}
@keyframes rotate {
  30% {
    transform: rotate(220deg);
  }
  40% {
    transform: rotate(450deg);
    opacity: 1;
  }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
.carregador:nth-child(1) {
  animation-delay: 0.15s;
}
.carregador:nth-child(2) {
  animation-delay: 0.3s;
}
.carregador:nth-child(3) {
  animation-delay: 0.45s;
}
.carregador:nth-child(4) {
  animation-delay: 0.6s;
}
.carregador:nth-child(5) {
  animation-delay: 0.75s;
}
.carregador:nth-child(6) {
  animation-delay: 0.9s;
}
