body {
  background: #000;
}

.terra {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.terra:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.terra > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(../imagens/terra.jpg);
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}
